* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
}

body {
  background: #f5f6fa;
}

.holder .sidebar {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.holder .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.holder .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.holder .sidebar ul li a:hover,
.holder .sidebar ul li a.active {
  color: #0c7db1;

  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.holder .sidebar ul li a:hover .icon,
.holder .sidebar ul li a.active .icon {
  color: #0c7db1;
}

 /* Responsive Styles */
@media (max-width: 768px) {
.holder .sidebar {
  width: 50%;
  height: auto;
  position: static;
}

.holder .sidebar ul li a {
  padding: 13px;
  text-align: left;
}
}